.formulate__field {
    button {
        border-radius: 0;
        border: 2px solid;
        box-shadow:
            2px 2px 0 #888,
            3px 3px 1px #888;
        height: 50px;
        line-height: 50px;
        padding: 0 14px;
    }
}