.formulate__field {
    &--checkbox-list {
        .formulate__field__label-text {
            position: relative;
            display: inline-block;
            margin-left: 20px;
            margin-right: 16px;

            &:before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -20px;
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                border: 2px solid #000;
                border-radius: 2px;
            }
        }

        input {
            position: absolute;
            left: -9999px;

            &:checked {
                + .formulate__field__label-text {
                    &:before {
                        border-width: 8px;
                    }
                }
            }
        }
    }

    &--validation-error {
        &.formulate__field--checkbox-list {
            label {
                color: #f00;
            }

            .formulate__field__label-text {
                &:before {
                    border-color: #f00;
                }
            }
        }
    }
}