# Visual Studio solution user options.
*.suo

# Visual Studio configuration.
.vs/

# Visual Studio project user options.
*.csproj.user

# Visual Studio build artifacts.
bin/
obj/

# Visual Studio packages.
**/packages/*/