// Named colors.
$formulate-color--black: #000;
$formulate-color--white: #fff;
$formulate-color--red: #f00;
$formulate-color--grey: #888;

// Theme colors.
$formulate-color--border: $formulate-color--black;
$formulate-color--field: $formulate-color--white;
$formulate-color--error: $formulate-color--red;
$formulate-color--shadow: $formulate-color--grey;