// Element sizes.
$formulate-size--field-height: 50px;
$formulate-size--min-button-width: 200px;
$formulate-size--field-radius: 0;
$formulate-size--checkbox: 16px;
$formulate-size--checkbox-radius: 2px;
$formulate-size--radio: $formulate-size--checkbox;
$formulate-size--radio-radius: $formulate-size--radio;