$formulate-grid-gutter: 20px;
$formulate-button-padding--horizontal: 14px;
$formulate-checkbox-spacing--horizontal: 16px;
$formulate-checkbox-label-gap: 4px;
$formulate-checkbox-vertical-option-gap: 10px;