.formulate__form {

    // Offset the field top margin.
    margin-top: -20px;

    // Allow descendants to be positioned relative to the entire form.
    position: relative;

    // Set all elements to use sensible box sizing. This is probably already part of your styles.
    &,
    * {
        &,
        &:before,
        &:after {
            box-sizing: border-box;
        }
    }

}