@import '../settings/settings';

// Manages multi-step form styles.
.formulate__row {

    // Set attribute transition durations (i.e., between active/inactive states).
    transition:
        transform $formulate-transition-duration--long,
        max-height $formulate-transition-duration--long,
        opacity $formulate-transition-duration--long;

    // When the elements are larger than the max height, hide them.
    overflow: hidden;

    // Styles when a row is active.
    &--active {

        // Animate the row into view.
        animation: show-formulate-step $formulate-transition-duration--long forwards;

    }

    // When the form step is first displayed, do not show an animation.
    &--active-initial {
        animation: initial;
    }

    // Styles when a row is inactive.
    &--inactive {

        // Animate the row out of view.
        animation: hide-formulate-step $formulate-transition-duration--long forwards;

        // For accessibility, fully hide the inactive steps. This style kicks in
        // a moment after the row is set to inactive, which allows for a short
        // animation before the step is fully disabled.
        &-and-disabled {
            display: none;
        }
    }

}