@import 'fields-shared';

.formulate__field {
    /*&--textarea {
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 200px;
            background-color: #000;
            z-index: -1;
        }
    }*/

    textarea {
        border-radius: 0;
        border: 2px solid #000;

        @include hide-text-placeholder();

        + label {
            position: absolute;
            background: transparent;
            transition:
                all 0.25s,
                background-color 0s;
            left: 10px;
        }

        &:focus {
            background: #eee;
            outline: 0;
        }

        &:focus + label,
        &:not(:placeholder-shown) + label {
            line-height: 12px;
            top: 2px;
            left: 2px;
            padding: 4px 10px 4px 10px;
            font-size: 12px;
            transform: initial;
        }

        &:focus + label {
            background-color: #eee;
        }
    }

    textarea {
        width: 100%;
        height: 200px;
        padding: 20px 10px 10px 10px;

        + label {
            top: 20px;
            line-height: 1;
        }
    }

    &--validation-error {
        &.formulate__field--textarea {
            textarea {
                border-color: #f00;
                + label {
                    color: #f00;
                }
            }
        }
    }
}