@import 'fields-shared';

.formulate__field {
    input[type=text] {
        border-radius: 0;
        border: 2px solid;

        @include hide-text-placeholder();

        + label {
            position: absolute;
            background: transparent;
            transition: all 0.25s;
            left: 10px;
        }

        &:focus {
            background: #eee;
            outline: 0;
        }

        &:focus + label,
        &:not(:placeholder-shown) + label {
            line-height: 12px;
            top: 4px;
            font-size: 12px;
            transform: initial;
        }

        + label {
            top: 18px;
        }
    }

    &--validation-error {
        &.formulate__field--text {
            input[type=text] {
                &,
                &:active,
                &:focus {
                    border-color: #f00;
                }

                + label {
                    color: #f00;
                }
            }
        }
    }
}